<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1> <%= groceryListItem.name %> </h1>

      <div class='row'>
        <div class='col-3'> ID: </div>
        <div class='col-9'> <%= groceryListItem.id %> </div>
      </div>
      <div class='row'>
        <div class='col-3'> Name: </div>
        <div class='col-9'> <%= groceryListItem.name %> </div>
      </div>
      <div class='row'>
        <div class='col-3'> GroceryList: </div>
        <div class='col-9'> <%= groceryListItem.GroceryList.name %> </div>
      </div>
      <div class='row'>
        <div class='col-3'> Budget: </div>
        <div class='col-9'> <%= groceryListItem.budget %> </div>
      </div>
      <div class='row'>
        <div class='col-3'> Purchased: </div>
        <div class='col-9'> <%= groceryListItem.purchased %> </div>
      </div>
      <div class='row'>
        <div class='col-3'> Priority: </div>
        <div class='col-9'> <%= groceryListItem.priority %> </div>
      </div>
      <% if(groceryListItem.purchased){ %>
      <div class='row'>
        <div class='col-3'> Buyer: </div>
        <div class='col-9'> <%= groceryListItem.User.name %> </div>
      </div>
      <% } %>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
